<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">
<div layout:fragment="content">

    <div class="container my-4">
        <div class="banner">
        <h3 class=" text-center text-uppercase text-strong">Bienvenido a Para Casa</h3>
        <p class=" text-center">Los mejores productos y la mejor calidad</p>
        </div>
    <div class="container container-web-page">
        <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros servicios</h3>
        <br>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <p class="text-center"><i class="bi bi-globe" style="font-size:10em"></i></p>
                <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Envios a domicilio</h5>
                <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <p class="text-center"><i class="bi bi-bag-fill" style="font-size:10em"></i></p>
                <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros Productos y Menus</h5>
                <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <p class="text-center"><i class="bi bi-telephone-fill" style="font-size:10em"></i></p>
                <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Contactanos</h5>
                <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
            </div>
        </div>
    </div>
</div>
</html>